<div class="row" style="padding-top: 20px">

  <div class="col-lg-6">

    <div class="card">

      <div class="card-header text-center bg-warning text-white">
        Editer votre profil
      </div>

      <div class="card-body text-center">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put , :multipart => true}) do |f| %>

          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "off" , class: "form-control" %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" , class: "form-control" %>
          </div>

          <% if current_user.avatar.url.present? %>
            <%= image_tag(current_user.avatar.url , class: "img-fluid")  %><br />

            <%= f.label :remove_avatar do %>
              <%= f.check_box :remove_avatar %>
            <% end %>

          <% end %>

          <div class="form-group">
            <%= f.label :avatar %><br />
            <%= f.file_field :avatar, autocomplete: "off" , class: "form-control" %>
          </div>

          <%= f.hidden_field :avatar_cache %>

          <div class="actions">
            <%= f.submit "Update" , class: "btn btn-warning btn-block" %>
          </div>
        <% end %>

      </div>

    </div>

  </div>

  <div class="col-lg-6">

    <div class="card">
      <div class="card-header text-center bg-danger text-white">
        Supprimer mon compte
      </div>

      <div class="card-body text-center">

        <%= button_to "Supprimmer mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete , class: "btn btn-danger" %>

      </div>

    </div>

    <div class="card" style="margin-top: 20px;">
      <div class="card-header text-center bg-success text-white">
        Mes followers (<%= @user.followers.count  %>)
      </div>
      <div class="card-body text-center">

        <% if @user.followers.each do |follower| %>
          <%= render "partials/users" , user: follower %>
        <% end.empty? %>
          <p> Vous n'avez aucun follower pour l'instant</p>
        <% end %>

      </div>
    </div>

    <div class="card" style="margin-top: 20px;">
      <div class="card-header text-center bg-success text-white">
        Mes abonnements (<%= @user.followings.count  %>)
      </div>
      <div class="card-body text-center">

        <% if @user.followings.each do |following| %>
          <%= render "partials/users" , user: following %>
        <% end.empty? %>
          <p> Vous ne suivez personne l'instant</p>
        <% end %>

      </div>
    </div>

    <div class="card" style="margin-top: 20px;">
      <div class="card-header text-center bg-success text-white">
        Mes posts (<%= @user.posts.count  %>)
      </div>
      <div class="card-body text-center">

        <% if @user.posts.each do |post| %>
          <div class="row">

            <div class="col-md-12">
              <div class="card">
                <div class="card-header text-center">

                  <div class="pull-left">
                    <a class="btn btn-primary" href="<%= edit_post_path(post.id)  %>"><i class="fa fa-pencil"></i></a>
                    <a class="btn btn-danger" href="<%= post_path(post.id) %>" data-confirm="Etes-vous sur ?" data-method="DELETE"><i class="fa fa-trash"></i></a>
                  </div>


                  <% if current_user.likes.where(post_id: post.id).count > 0 %>

                    <button type="button" post_id="<%= post.id %>" class="btn btn-success btn-unlike  pull-right" >
                      <i style="color:blue" class="fa fa-thumbs-up" aria-hidden="true"></i>
                      <span><%= post.likes.count %></span>
                    </button>

                  <% else %>

                    <button <%= (user_signed_in?) ? ('') : ('disabled') %>  type="button" post_id="<%= post.id %>" class="btn btn-success btn-like  pull-right">
                      <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                      <span><%= post.likes.count %></span>
                    </button>

                  <% end %>

                </div>
                <div class="card-body" style="overflow-y: auto;">
                  <%= simple_format(post.content) %>
                </div>
              </div>
            </div>

          </div>
          <hr>
        <% end.empty? %>
          <p> Vous n'avez ecrit aucun post pour l'instant</p>
        <% end %>

      </div>
    </div>

  </div>

</div>
