<div class="row">

  <div class="col-md-2">
    <div class="thumbnail">
      <%= link_to image_tag(post.user.avatar.url , class: "img-fluid" , alt: "Avatar user"), controller: "users", action: "show", id: post.user.id %>
    </div>
  </div>

  <div class="col-md-10">
    <div class="card <%= ( defined?(user_id) != nil && post.retweets.where(user_id: user_id).count > 0) ? 'border-danger' : '' %>">
      <div class="card-header text-center">

        <div class="pull-left">
          <strong><%= post.user.username %></strong> <span class="text-muted"> <i><%= post.updated_at.strftime("%b %d, %Y  %H:%M:%S") %></i></span>
        </div>
        <div class="pull-right">

          <!-- Likes -->

          <% if user_signed_in? && current_user.likes.where(post_id: post.id).count > 0 %>

            <button type="button" post_id="<%= post.id %>" class="btn btn-success btn-unlike" >
              <i style="color:blue" class="fa fa-thumbs-up" aria-hidden="true"></i>
              <span><%= post.likes.count %></span>
            </button>

          <% else %>

            <button <%= (user_signed_in?) ? ('') : ('disabled') %>  type="button" post_id="<%= post.id %>" class="btn btn-success btn-like">
              <i class="fa fa-thumbs-up" aria-hidden="true"></i>
              <span><%= post.likes.count %></span>
            </button>

          <% end %>

          <!-- Retweets -->

          <% if user_signed_in? && current_user.retweets.where(post_id: post.id).count > 0 %>

            <button type="button" href="<%= retweet_post_path(post.id) %>" post_id="<%= post.id %>" class="btn btn-primary btn-unretweet" >
              <i style="color:blue" class="fa fa-retweet" aria-hidden="true"></i>
              <span><%= post.retweets.count %></span>
            </button>

          <% else %>

            <button type="button" href="<%= retweet_post_path(post.id) %>" post_id="<%= post.id %>" class="btn btn-primary <%= (user_signed_in?) ? ('') : ('disabled') %> btn-retweet">
              <i class="fa fa-retweet" aria-hidden="true"></i>
              <span><%= post.retweets.count %></span>
            </button>

          <% end %>
        </div>

      </div>

      <div class="card-body" style="overflow-y: auto;">
        <%= simple_format(post.content) %>
      </div>
    </div>
  </div>

</div>

<hr>