<div class="row" style="padding-top: 20px">

  <div class="col-lg-8">
    <div class="card">
      <div class="card-header text-center bg-primary text-white">
        Ses posts (<%= @user.posts.count  %>) et retweets (<%= @user.retweets.count  %>)
      </div>
      <div class="card-body text-center">

        <% if @posts.each do |post| %>
          <%= render "partials/post" , :post => post , :user_id => @user.id %>
        <% end.empty? %>
          <p> Aucun post pour l'instant</p>
        <% end %>

      </div>
    </div>

  </div>

  <div class="col-lg-4">

    <div class="card">
      <div class="card-header text-center bg-info text-white">
        Info sur l'utilisateur
      </div>
      <div class="card-body text-center">

        <p><%= image_tag(@user.avatar.url , class: "img-fluid")  %></p>

        <p>Login : <strong> <%= @user.username  %> </strong></p>
        <p>Nombre de posts : <%= @user.posts.count  %> </p>

        <% if user_signed_in? && current_user.id != @user.id %>

          <% if current_user.followers.where(id: @user.id).count < 1  %>
            <button class="btn btn-warning text-white follow" user-id="<%= @user.id %>">
              <i class="fa fa-user-plus" aria-hidden="true"></i>
              <span>Suivre</span>
            </button>
          <% else %>
            <button class="btn btn-danger text-white unfollow" user-id="<%= @user.id %>">
              <i class="fa fa-user-times" aria-hidden="true"></i>
              <span>Ne plus suivre</span>
            </button>
          <% end %>

        <% else %>

          <button class="btn btn-warning btn-block text-white" disabled>
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            Suivre
          </button>

        <% end %>

      </div>
    </div>

  </div>

</div>

<div class="row" style="padding-top: 20px">

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header text-center bg-warning text-white">
        Ses followers (<%= @user.followers.count  %>)
      </div>
      <div class="card-body text-center">

        <% if @user.followers.each do |follower| %>
          <%= render "partials/users" , user: follower %>
        <% end.empty? %>
          <p> Aucun follower pour l'instant</p>
        <% end %>

      </div>
    </div>

  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header text-center bg-warning text-white">
        Ses abonnements (<%= @user.followings.count  %>)
      </div>
      <div class="card-body text-center">

        <% if @user.followings.each do |following| %>
          <%= render "partials/users" , user: following %>
        <% end.empty? %>
          <p> <strong><%= @user.username %></strong> ne suit personne pour l'instant</p>
        <% end %>

      </div>
    </div>

  </div>

</div>

</div>