<div class="row" style="padding-top: 20px">

  <div class="col-lg-8">

    <div class="card">
      <div class="card-header text-center bg-danger text-white">
        Les postes les plus populaire !!
      </div>
      <div class="card-body text-center">

        <% if @posts.each do |post| %>

          <div class="row">

            <div class="col-md-2">
              <div class="thumbnail">
                <a href="https://www.templatebook.antonbourtnik.fr/users/show/1" title="Voir le profil de <%= post.user.username %> ">
                  <img width="90px" class="img-responsive" src="https://www.templatebook.antonbourtnik.fr/storage/avatars/default-men.png" alt="Avatar user <%= post.user.username %>" onerror="this.onerror=null;this.src='/img/default-image.png';">
                </a>
              </div>
            </div>

            <div class="col-md-10">
              <div class="card">
                <div class="card-header text-center">

                  <strong><%= post.user.username %></strong> <span class="text-muted"> <i><%= post.updated_at.strftime("%b %d, %Y  %H:%M:%S") %></i></span>

                  <button disabled type="button" post_id="<%= post.id %>" class="btn btn-success btn-like  pull-right">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    <span><%= post.likes.count %></span>
                  </button>

                </div>
                <div class="card-body" style="overflow-y: auto;">
                  <%= simple_format(post.content) %>
                </div>
              </div>
            </div>

          </div>

          <hr>

        <% end.empty? %>
          <p> Aucun message posté pour l'instant</p>
        <% end %>

      </div>
    </div>

  </div>

  <div class="col-lg-4">
    <div class="card">
      <div class="card-header text-center bg-success text-white">
        Nouveau sur Social Ryby ?
      </div>
      <div class="card-body text-center">
        <i>Inscrivez-vous maintenant pour obtenir votre fil d'actualités personnalisé ! </i>
        <hr>
        <%= link_to "S'inscrire", new_user_registration_path , class: 'btn btn-success btn-block' %>
      </div>
    </div>

  </div>

</div>
