<div class="row" style="padding-bottom: 20px">

  <div class="col-lg-3">

    <div class="card">
      <div class="card-header text-center bg-info text-white">
        Mes infos
      </div>
      <div class="card-body text-center">

        <p>
          <%= link_to image_tag(current_user.avatar.url , class: "img-fluid" , alt: "Avatar user" , width: 150), controller: "users", action: "show", id: current_user.id %>
        </p>

        <h3><strong> <%= link_to current_user.username, controller: "users", action: "show", id: current_user.id %> </strong></h3>
        <hr>
        <p>Nombre de posts : <%= current_user.posts.count  %> </p>
        <p>Nombre de retweets : <%= current_user.retweets.count  %> </p>
        <p>Nombre de likes : <%= current_user.likes.count  %> </p>
        <p>Membre depuis le  : <i> <%= current_user.current_sign_in_at.strftime("%b %d, %Y  %H:%M:%S") %></i>  </p>

      </div>
    </div>


  </div>

  <div class="col-lg-6">

    <div class="card">
      <div class="card-header text-center bg-success text-white">
        Bonjour <strong><%= current_user.username %> !!</strong>
      </div>
      <div class="card-body text-center">

        <i>Partagez quelque chose aujourd'hui !!</i>
        <hr>

        <%= form_for @post do |f| %>
          <div class="form-group">
            <label for="">Votre message :</label>
            <%= f.text_area :content , class: 'form-control' %>
            <small class="form-text text-muted">Maximum 100 caractéres</small>
          </div>
          <div class="form-group">
            <button class="btn btn-success btn-block" type="submit">
              <i class="fa fa-share" aria-hidden="true"></i>
              Partager
            </button>
          </div>
        <% end %>
      </div>
    </div>

    <div class="card" style="margin-top: 20px;">
      <div class="card-header text-center bg-primary text-white">
        Votre mur
      </div>
      <div class="card-body text-center">

        <% if @user_followings_posts.count + @retweets_user_posts.count + @user_posts.count > 0  %>

          <% @user_followings_posts.each do |post| %>
            <%= render "partials/post" , :post => post%>
          <% end %>

          <% @retweets_user_posts.each do |post| %>
            <%= render "partials/post" , :post => post , :user_id => current_user.id %>
          <% end %>

          <% @user_posts.each do |post| %>
            <%= render "partials/post" , :post => post %>
          <% end %>

        <% else %>
          <p>Aucun contenu pour vous pour l'instant</p>
        <% end %>

      </div>
    </div >

  </div>

  <div class="col-lg-3">

    <div class="card">
      <div class="card-header text-center bg-warning text-white">
        Suggestions d'amis
      </div>
      <div class="card-body text-center">

        <ul class="list-unstyled">

          <% if @users.each do |user| %>
            <%= render "partials/users" , user: user %>
            <hr>
          <% end.empty? %>
            <p> Aucune suggestion d'amis pour l'instant</p>
          <% end %>

        </ul>
      </div>
    </div>

  </div>

</div>